@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");


body{
   background-color: black;
}

*{
    margin: 0;
    padding: 0; 
}
nav{
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
.brand img{
    width: 48px;
    padding-right: 10px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
nav ul li{
    padding-left: 10px;
    padding-right: 10px;
}
.bottom{
    position: sticky;
    height: 100px;
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.icons{
    margin-top: 15px;
}
.icons i{
    cursor: pointer;
}
.container{
    min-height: 64vh; /*75 percent of height*/
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 30px;
    background-image: url(/aditya-chinchure-ZhQCZjr9fHo-unsplash.jpg);
    background-size: cover;
}
.songlist{
    color: white;
}

#myProgressBar{
    width: 80vw;

}
