@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");


body{
    background: rgb(246, 237, 191);
}

*{
    margin: 0;
    padding: 0; 
}
nav{
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
.brand img{
    width: 48px;
    padding-right: 10px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
nav ul li{
    padding-left: 10px;
    padding-right: 10px;
}
.bottom{
    position: sticky;
    height: 130px;
    bottom: 0;
    background-color: black;

}